# Database
# If not using docker, set DATABASE_URL to hosted postgres url and ignore the other database variables.
DATABASE_URL="postgresql://tablecn:securepassword@localhost:5432/tablecn"

DATABASE_HOST="localhost"
DATABASE_USER="tablecn"
DATABASE_PASSWORD="securepassword"
DATABASE_NAME="tablecn"
DATABASE_PORT="5432"

# Storage (optional for data-grid-live)
UPLOADTHING_TOKEN="token"

# Rate limiter (optional for data-grid-live)
UPSTASH_REDIS_REST_URL="url"
UPSTASH_REDIS_REST_TOKEN="token"

# Audio Recordings Authorization
# Generate session secret with: openssl rand -base64 32
AUDIO_RECORDING_SESSION_SECRET="your-32-character-secret-key-here-change-this"
# Get hCaptcha keys from https://dashboard.hcaptcha.com/
HCAPTCHA_SECRET_KEY="your_hcaptcha_secret_key"
NEXT_PUBLIC_HCAPTCHA_SITE_KEY="your_hcaptcha_site_key"
